.searchElement {
    display: grid;
    grid-template-areas: 'avatar description';
    grid-template-columns: 150px auto;
    background-color: rgb(57, 57, 57);
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
}

.image {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.name {
    font-size: 25px;
    font-weight: 700;
}


